@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}

.dark body {
  background-color: var(--color-gray-900);
  color: var(--color-gray-50);
}